<div class="row clearfix">
    <div class="col-md-4 column index-header-nav">
        <h1><a class="site-logo" href="/"></a></h1>
    </div>
    <div class="col-md-4 column index-header-nav">
        <div class="header-container-2">
            <form action="/s/" class="search-box__form J-search-form cf" name="searchForm" method="get">
                <input tabindex="1" type="text" name="w" autocomplete="off" class="search-box__input" value="" placeholder="请输入商品名称、地址等">
                <input type="submit" class="s-submit search-box__button log-mod-viewed" hidefocus="true" value="搜索" data-mod="sr">
            </form>
        </div>
    </div>
    <div class="col-md-4 column index-header-nav">
        <div class="header-container-3">
            <a class="site-commitment" gaevent="top/commitment" href="#" target="_blank">
                <span class="commitment-item"><i class="glyphicon glyphicon-star"></i>随时退</span>
                <span class="commitment-item"><i class="glyphicon glyphicon-ok"></i>不满意免单</span>
                <span class="commitment-item"><i class="glyphicon glyphicon-list-alt"></i>过期退</span>
            </a>
        </div>
    </div>
</div>
