<!DOCTYPE html>
<html ng-app="ui.bootstrap.demo">

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/lib/angular.min.js"></script>
    <script src="/lib/ui-bootstrap-tpls-1.2.4.min.js"></script>
    <script src="example.js"></script>
    <script src="/lib/angular-animate.js"></script>
    <script src="/lib/angular-resource.min.js"></script>
    <link href="/lib/bootstrap3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <h1><%= title %></h1>
    <p>Welcome to
        <%= title %>
    </p>
    <div ng-controller="AlertDemoCtrl">
        <script type="text/ng-template" id="alert.html">
            <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
                <div ng-transclude></div>
            </div>
        </script>
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
        <uib-alert template-url="alert.html">A happy alert!</uib-alert>
        <button type="button" class='btn btn-default' ng-click="addAlert()">Add Alert</button>
    </div>
</body>

</html>
