<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%include header.html%>
</head>

<body>
    <div class="index-container">
        <header class="row clearfix index-header">
            <a class="site-logo" href="/"></a>
            <div class="index-site-info-nav">
                <ul class="nav navbar-nav">
                    <li><a rel="nofollow" href="/">关于美团</a></li>
                    <li><a rel="nofollow" href="/">美团承诺</a></li>
                    <li><a rel="nofollow" href="/">加入我们</a></li>
                    <li><a rel="nofollow " href="/">商家入驻</a></li>
                    <li><a rel="nofollow " href="/">帮助中心</a></li>
                    <li class="last "><a href="/">美团手机版</a></li>
                </ul>
            </div>
            <div class="site-mast__user-nav-w" id="J-site-mast__user-nav-w">
                <div class="site-mast__user-nav cf">
                    <ul class="basic-info">
                        <li class="site-mast__keep">
                            <a rel="nofollow" class="fav log-mod-viewed" id="J-favorite" gaevent="header/addFavorite" data-mod="fa" href="javascript:;">
                                <i class="F-glob F-glob-star-border icon-keep"></i> 收藏美团
                            </a>
                        </li>
                        <li class="user-info cf" data-comboajax-uri="/combo/userinfo" data-comboajax-onsuccess="this.setHTML($response.html);" data-comboajax-state="5">
                            <a class="user-info__login" id="J-login" href="https://passport.meituan.com/account/unitivelogin?service=www&amp;continue=http%3A%2F%2Fwww.meituan.com%2Faccount%2Fsettoken%3Fcontinue%3Dhttp%253A%252F%252Fzh.meituan.com%252F" gaevent="top/login">登录</a>
                            <a class="user-info__signup" href="https://passport.meituan.com/account/unitivesignup?service=www&amp;continue=http%3A%2F%2Fwww.meituan.com%2Faccount%2Fsettoken%3Fcontinue%3Dhttp%253A%252F%252Fzh.meituan.com%252F" gaevent="top/signup">注册</a>
                        </li>
                        <li data-uix="dropdown" class="dropdown dropdown--msg" data-comboajax-uri="/index/message" data-comboajax-onsuccess="$request.listen(&quot;www-tips&quot;, &quot;www.MsgCenter&quot;);" data-comboajax-state="5" style="display:none;" id="yui_3_16_0_1_1458313795627_314">
                            <a id="J-my-msg" rel="nofollow" class="dropdown__toggle" href="http://www.meituan.com/message/" gaevent="nav/mymsg">
                                <i class="vertical-bar vertical-bar--left"></i>
                                <span class="J-title">消息</span>
                                <i class="tri tri--dropdown"></i>
                                <i class="vertical-bar"></i>
                            </a>
                        </li>
                        <li data-uix="dropdown" data-params="{&quot;classname&quot;: &quot;dropdown--open dropdown--open-app&quot;}" class="mobile-info__item dropdown" id="yui_3_16_0_1_1458313795627_325">
                            <a class="dropdown__toggle" href="javascript:;"><i class="icon-mobile F-glob F-glob-phone"></i>手机美团<i class="tri tri--dropdown"></i></a>
                            <div class="dropdown-menu dropdown-menu--app">
                                <a class="app-block" href="http://i.meituan.com/mobile/down/meituan" target="_blank">
                                    <span class="app-block__title">免费下载美团手机版</span>
                                    <span class="app-block__content"></span>
                                    <i class="app-block__arrow F-glob F-glob-caret-right"></i>
                                </a>
                                <a class="app-block app-block--last app-block--maoyan" href="http://www.maoyan.com/" target="_blank">
                                    <span class="app-block__title">免费下载猫眼电影手机版</span>
                                    <span class="app-block__content"></span>
                                    <i class="app-block__arrow F-glob F-glob-caret-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                    <ul class="site-mast__user-w">
                        <li class="user-orders">
                            <a href="http://www.meituan.com/orders/">我的订单</a>
                        </li>
                        <li data-uix="dropdown" class="dropdown dropdown--account" id="yui_3_16_0_1_1458313795627_336">
                            <a id="J-my-account-toggle" rel="nofollow" class="dropdown__toggle" href="http://www.meituan.com/orders/" gaevent="nav/my" data-mttcode="Amymeituan">
                                <span>我的美团</span>
                                <i class="tri tri--dropdown"></i>
                                <i class="vertical-bar"></i>
                            </a>
                            <ul id="J-my-account-menu" class="dropdown-menu dropdown-menu--text dropdown-menu--account account-menu" data-mtnode="Amymeituan">
                                <li><a class="dropdown-menu__item first " rel="nofollow" gaevent="nav/my/orders" href="http://www.meituan.com/orders/" data-mttcode="Borders">我的订单</a></li>
                                <li><a class="dropdown-menu__item  " rel="nofollow" gaevent="nav/my/feedback" href="http://www.meituan.com/rates/" data-mttcode="Brates">我的评价</a></li>
                                <li><a class="dropdown-menu__item  " rel="nofollow" gaevent="nav/my/collections" href="http://www.meituan.com/collections/" data-mttcode="Bcollections">我的收藏</a></li>
                                <li><a class="dropdown-menu__item  " rel="nofollow" gaevent="nav/my/points" href="http://www.meituan.com/account/points/" data-mttcode="Bpoints">我的积分</a></li>
                                <li><a class="dropdown-menu__item  " rel="nofollow" gaevent="nav/my/card" href="http://www.meituan.com/card/list" data-mttcode="Bvoucher">抵用券</a></li>
                                <li><a class="dropdown-menu__item  " rel="nofollow" gaevent="nav/my/credit" href="http://www.meituan.com/account/credit" data-mttcode="Bcredit">美团余额</a></li>
                                <li><a class="dropdown-menu__item  " rel="nofollow" gaevent="nav/my/charge" href="http://www.meituan.com/account/charge" data-mttcode="Bcharge">账户充值</a></li>
                                <li><a class="dropdown-menu__item  last" rel="nofollow" gaevent="nav/my/settings" href="http://www.meituan.com/account/settings" data-mttcode="Bsettings">账户设置</a></li>
                            </ul>
                        </li>
                        <li data-uix="dropdown" data-params="{&quot;classname&quot;: &quot;dropdown--open dropdown--open-history&quot;}" class="dropdown dropdown--history" data-comboajax-uri="/index/rvd" data-comboajax-config="www.History.nav" data-comboajax-state="5" id="yui_3_16_0_1_1458313795627_43">
                            <a id="J-my-history-toggle" rel="nofollow" class="dropdown__toggle" href="javascript:;" gaevent="nav/history">
                                <span>最近浏览</span>
                                <i class="tri tri--dropdown"></i>
                                <i class="vertical-bar"></i>
                            </a>
                            <div id="J-my-history-menu" class="dropdown-menu dropdown-menu--deal dropdown-menu--history"></div>
                        </li>
                        <li data-uix="dropdown" id="J-my-cart" class="dropdown dropdown--cart J-cart-updated" data-comboajax-uri="/index/navcart" data-comboajax-onsuccess="Y.mt.www.CartEx.update($response.data);" data-comboajax-state="5">
                            <a id="J-my-cart-toggle" rel="nofollow" class="dropdown__toggle" href="http://www.meituan.com/cart/" gaevent="nav/cart">
                                <i class="icon icon-cart F-glob F-glob-cart"></i>
                                <span>购物车<em class="badge" data-newindex="true"><strong class="cart-count">0</strong>件</em></span>
                                <i class="tri tri--dropdown"></i>
                                <i class="vertical-bar"></i>
                            </a>
                            <div id="J-my-cart-menu" class="dropdown-menu dropdown-menu--deal dropdown-menu--cart">
                                <p class="dropdown-menu--empty">暂时没有商品</p>
                            </div>
                        </li>
                        <li data-uix="dropdown" id="J-site-help" class="dropdown dropdown--help">
                            <a class="dropdown__toggle" href="http://www.meituan.com/help/selfservice" gaevent="top/service">
                                <span>联系客服</span>
                                <i class="tri tri--dropdown"></i>
                                <i class="vertical-bar"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu--text dropdown-menu--help">
                                <ul class="site-help-info">
                                    <li><a rel="nofollow" class="J-selfservice-tab dropdown-menu__item" data-tab="0" href="http://www.meituan.com/help/selfservice" gaevent="top/service/refund">申请退款</a></li>
                                    <li><a rel="nofollow" class="J-selfservice-tab dropdown-menu__item" data-tab="1" href="http://www.meituan.com/help/selfservice?tab=1" gaevent="top/service/returns">申请退换货</a></li>
                                    <li><a rel="nofollow" class="J-selfservice-tab dropdown-menu__item" data-tab="2" href="http://www.meituan.com/help/selfservice?tab=2" gaevent="top/service/code">查看美团券</a></li>
                                    <li><a rel="nofollow" class="J-selfservice-tab dropdown-menu__item" data-tab="3" href="http://www.meituan.com/help/selfservice?tab=3" gaevent="top/service/tel">换绑手机号</a></li>
                                    <li><a rel="nofollow" class="dropdown-menu__item" href="http://www.meituan.com/help/faq" gaevent="top/service/faq">常见问题</a></li>
                                </ul>
                            </div>
                        </li>
                        <li data-uix="dropdown" id="J-site-merchant" class="dropdown dropdown--merchant">
                            <a class="dropdown__toggle dropdown__toggle--merchant" href="javascript:;" gaevent="top/merchant">
                                <span>我是商家</span>
                                <i class="tri tri--dropdown"></i>
                                <i class="vertical-bar"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu--text dropdown-menu--merchant">
                                <ul>
                                    <li><a rel="nofollow" class="dropdown-menu__item" href="http://e.meituan.com/" gaevent="top/merchant/ecom">登录商家中心</a></li>
                                    <li><a rel="nofollow" class="dropdown-menu__item" href="http://pmc.e.meituan.com/public/register/choose" gaevent="top/merchant/cooperation">我想合作</a></li>
                                    <li><a rel="nofollow" class="dropdown-menu__item" href="http://e.meituan.com/mobile/?fr=tuantop" target="_blank">手机免费开店</a></li>
                                    <li><a rel="nofollow" class="dropdown-menu__item" href="http://zhaoshang.meituan.com" gaevent="top/merchant/mmp">商家营销平台</a></li>
                                </ul>
                            </div>
                        </li>
                        <li data-uix="dropdown" id="J-my-more" class="dropdown dropdown--more dropdown--last">
                            <a id="J-my-more-toggle" class="dropdown__toggle dropdown__toggle--my-more" href="javascript:;" gaevent="nav/more">
                                <span>更多</span>
                                <i class="tri tri--dropdown"></i>
                            </a>
                            <div id="J-my-more-menu" class="dropdown-menu dropdown-menu--text dropdown-menu--more">
                                <ul>
                                    <li>
                                        <a rel="nofollow" class="mobile dropdown-menu__item" href="http://www.meituan.com/mobile/" target="_blank" gaevent="header/mobile"><span></span>手机版</a>
                                    </li>
                                    <li>
                                        <a rel="nofollow" id="J-subscribe" class="subscribe dropdown-menu__item" gaevent="header/subscribe" href="http://www.meituan.com/account/subscription"><span></span>邮件订阅</a>
                                    </li>
                                    <li class="last">
                                        <a rel="nofollow" class="refer dropdown-menu__item" href="http://www.meituan.com/account/referrals" target="_blank" gaevent="header/refferals">邀请好友</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <noscript hidden="" style="display:none;" data-comboajax-uri="/index/vipbubble" data-comboajax-data="{&quot;ref&quot;:&quot;\/index\/floornewV2&quot;}" data-comboajax-onsuccess="$request.listen(&quot;www-tips&quot;, &quot;www.VipBubble&quot;);" data-comboajax-state="5"></noscript>
                </div>
            </div>
        </header>
    </div>
</body>

</html>