<div class="row clearfix">
    <div class="site-mast__site-nav-inner">
        <nav>
            <ul class="head-content-navbar cf" data-mod="lz" data-mod-deepview="1">
                <li class="navbar__item-w ">
                    <a class="navbar__item" href="#" gaevent="nav/today" hidefocus="true"><span class="nav-label">首页</span></a>
                </li>
                <li class="navbar__item-w ">
                    <a class="navbar__item" href="#" gaevent="nav/new" hidefocus="true"><span class="nav-label">今日新单</span></a>
                </li>
                <li class="navbar__item-w ">
                    <a class="navbar__item" href="#" data-mttcode="Acategory.Bwanggou" gaevent="nav/wanggou" hidefocus="true"><span class="nav-label">购物</span></a>
                </li>
                <li class="navbar__item-w ">
                    <a class="navbar__item" href="#" target="_blank" gaevent="nav/waimai" hidefocus="true"><span class="nav-label">身边外卖</span></a>
                </li>
                <li class="navbar__item-w ">
                    <a class="navbar__item navbar__item-hots" href="#" target="_blank" gaevent="nav/hots" hidefocus="true"><span class="nav-label">名店抢购</span></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
