<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%include header.html%>
</head>

<body>
    <div class="container">
        <%include index_search.html%>
            <%include index_bar.html%>
                <div class="row clearfix">
                    <div class="col-md-4 column left-col-info">
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <a href="#">我的主页</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#">我的消费记录</a>
                            </li>
                            <li>
                                <a href="#">我的账户</a>
                            </li>
                            <li>
                                <a href="#">我的评价</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8 column right-col-info">
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <a href="#">我的主页</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#">我的消费记录</a>
                            </li>
                            <li>
                                <a href="#">我的账户</a>
                            </li>
                        </ul>
                    </div>
                </div>
    </div>
</body>

</html>
