<!DOCTYPE html>
<html>

<head>
    <%include header.html%>
</head>

<body>
    <div class="container">
        <header class="row clearfix">
        </header>
        <div class="row clearfix">
            <% if(typeof(error) !== 'undefined' && error){ %>
                <div class="sub-header alert alert-error">
                    <strong><%= error %></strong>
                </div>
                <% } %>
            <% if(typeof(success) !== 'undefined' && success){ %>
				<div class="sub-header alert alert-success">
					<strong><%= success %></strong>
				</div>
				<% } %>
        </div>
    </div>
</body>

</html>
