<!DOCTYPE html>
<html>

<head>
    <title>
        <%= config.name %>
    </title>
    <%include header.html%>
        <script src="./javascripts/register.js"></script>
</head>

<body>
    <div class="container" ng-app="RegisterApp" ng-controller="RegisterCtrl">
        <header class="row clearfix login-header">
            <a class="site-logo" href="/"></a>
            <div class="register-header-panel">
                <a class="btn btn-default register-login-btn" href="/login">登录</a>
                <p class="register-label">已有美团帐号？</p>
            </div>
        </header>
        <div class="row clearfix register-content">
            <div class="register-title">
                <a href="javascript:void(0)"><i class="icon icon--email"></i>邮箱注册</a>
            </div>
            <div class="col-md-6 column">
                <form class="form-horizontal login-input" role="form" name="registerform" ng-submit="on_register()">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">邮箱</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="register_mail" name="registermail" ng-model="register.input_mail" required/>
                            <span style="color:red" ng-show="registerform.registermail.$dirty && registerform.registermail.$invalid">
                                <span ng-show="registerform.registermail.$error.required">邮箱是必须的。</span>
                                <span ng-show="registerform.registermail.$error.email">非法的邮箱地址。</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">名字</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="register_name" name="registername" ng-model="register.input_name" required/>
                            <span style="color:red" ng-show="registerform.registername.$dirty && registerform.registername.$invalid">
                                <span ng-show="registerform.registername.$error.required">用户名是必须的。</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="register_password" name="registerpassword" ng-model="register.input_password" required/>
                            <span style="color:red" ng-show="registerform.registerpassword.$dirty && registerform.registerpassword.$invalid">
                                <span ng-show="registerform.registerpassword.$error.required">密码是必须的。</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">确认</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="register_password_confirm" name="registerconfirmpassword" ng-model="register.input_confirmpassword" required/>
                            <span style="color:red" ng-show="registerform.registerconfirmpassword.$dirty">
                                <span ng-show="registerform.registerconfirmpassword.$error.required && registerform.registerconfirmpassword.$invalid ">确认密码是必须的。</span>
                                <span ng-show="on_check_not_validate()">两次输入密码不一致。</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default" ng-disabled="registerform.registermail.$invalid || registerform.registername.$invalid || registerform.registerpassword.$invalid || registerform.registerconfirmpassword.$invalid || on_check_not_validate()">注册</button>
                            <p ng-show="true">
                                <span style="color:red" ng-show="true">{{register_ret_failed_tip}}</span>
                                <span style="color:green" ng-show="true">{{register_ret_success_tip}}</span>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="register-protocol">
            <a class="f1" href="http://www.meituan.com/about/terms" target="_blank">《美团网用户协议》</a>
        </div>
        <div class="row clearfix login-footer">
            <footer>
                <div class="copyright ">
                    <p>
                        ©<span>2016</span>
                        <a href="http://meituan.com/ ">美团网团购</a> meituan.com
                        <a href="http://www.miibeian.gov.cn/ " target="_blank ">京ICP证070791号</a> 京公网安备11010502025545号
                        <a href="http://meituan.com/about/rules " target="_blank "> 电子公告服务规则</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
</body>

</html>
