<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%include header.html%>
    <script src="./javascripts/register.js"></script>
</head>

<body>
    <div class="container" ng-app="RegisterApp" ng-controller="RegisterCtrl">
        <header class="row clearfix login-header">
            <a class="site-logo" href="/"></a>
            <div class="register-header-panel">
                <button type="submit" class="btn btn-default register-login-btn">登录</button>
                <p class="register-label">已有美团帐号？</p>
            </div>
        </header>
        <div class="row clearfix register-content">
            <div class="register-title">
                <a href="javascript:void(0)"><i class="icon icon--email"></i>邮箱注册</a>
            </div>
            <div class="col-md-6 column">
                <form class="form-horizontal login-input" role="form">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">邮箱</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3" ng-model="input_mail"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">名字</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputPassword3" ng-model="input_name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword3" ng-model="input_password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">确认</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword3" ng-model="input_confirmpassword"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default" ng-click="on_register">注册</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <!-- <p>mail = {{input_mail}}</p>
                            <p>name = {{input_name}}</p>
                            <p>password = {{input_password}}</p>
                            <p>confirmpassword = {{input_confirmpassword}}</p> -->
                            <p>{{register_tip}}</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="register-protocol">
            <a class="f1" href="http://www.meituan.com/about/terms" target="_blank">《美团网用户协议》</a>
        </div>
        <div class="row clearfix login-footer">
            <footer>
                <div class="copyright ">
                    <p>
                        ©<span>2016</span>
                        <a href="http://meituan.com/ ">美团网团购</a> meituan.com
                        <a href="http://www.miibeian.gov.cn/ " target="_blank ">京ICP证070791号</a> 京公网安备11010502025545号
                        <a href="http://meituan.com/about/rules " target="_blank "> 电子公告服务规则</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
</body>

</html>