body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.cf {
	zoom:1;
}

.site-logo {
	margin: 0px;
	width: 82px;
	height: 54px;
	position: relative;
	background-position: -258px -45px;
	background-image: url(/images/loginset.png);
	background-size: initial;
	display: inline;
	float: left;
	overflow: hidden;
}

.login-header{
	margin: 20px;
}

.login-content{
	margin: 20px;	
}

.login-footer{
	margin: 20px;
}

.login-site-info-nav{
	margin: 20px;
	height: 32px;
}

.copyright{
	margin: 20px;	
}

.login-input{
	position: relative;
	width: 350px;
}

.login-footer {
	margin: 20px;
}

.login-forget-pwd{
	float: right;
}

.title-wrapper
{
	position:relative;
	margin-bottom:30px;
	border-bottom:1px solid #CCC;
	width:100%;
	height:0;
	overflow:visible;
}

.title
{
	position:absolute;
	top:-10px;
	left:50%;
	margin-left:-75px;
	width:150px;
	text-align:center;
	/*font-size:16px;
	font-weight:500;*/
	color:#666;
	background:#FFF
}

.oauth__link{
	position: relative;
	left: 100px;
	float:left;
	margin-right:20px;
	width:18px;
	height:18px;
	background-position:-262px -141px;
	background-image:url(../images/loginset.png)
}

.register-label{
	float: right;
	position: relative;
	top: 5px;
}

.register-login-btn{
	float: right;
}

.register-header-panel{
	float: right;
}

.register-protocol{
	position: relative;
	left: 50px;
}

.register-content{
	padding: 50px;
}

.register-title{
	padding: 20px;
}

.index-header{
	margin: 20px;
}

.index-site-info-nav{
	margin: 20px;
	height: 32px;
}

index-container{
	
}